/* 将 NavBar 固定在左侧 */
.navbar-container {
  width: 16.66vw; /* 占屏幕1/6的宽度 */
  min-height: 100vh; /* 占满屏幕高度 */
  background-color: #f8f9fa; /* 背景色 */
  padding: 20px;
  position: fixed; /* 固定在页面左侧 */
  top: 0;
  left: 0;
}

/* 主内容区域 */
.main-content {
  margin-left: 16.66vw; /* 留出导航栏的空间 */
  padding: 20px;
  width: 83.33vw; /* 剩余的5/6宽度 */
}
/* 暗模式样式 */
body.dark-mode {
  background-color: #343a40;
  color: #f8f9fa;
}

body.dark-mode .top-navbar {
  background-color: #495057;
  border-bottom: 1px solid #6c757d;
}

body.dark-mode input,
body.dark-mode button {
  background-color: #6c757d;
  color: #f8f9fa;
  border-color: #6c757d;
}
